## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [26]:
ciudades_del_mundo=['Bogota','Madrid','Paris','San Fransisco','Londres','Nueva York']
type(ciudades_del_mundo)
print(ciudades_del_mundo)

['Bogota', 'Madrid', 'Paris', 'San Fransisco', 'Londres', 'Nueva York']

2) Imprimir por pantalla el segundo elemento de la lista

In [27]:
print(ciudades_del_mundo[1])

Madrid

3) Imprimir por pantalla del segundo al cuarto elemento

In [28]:
print(ciudades_del_mundo[1:5])

['Madrid', 'Paris', 'San Fransisco', 'Londres']

4) Visualizar el tipo de dato de la lista

In [29]:
type(ciudades_del_mundo)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [30]:
print(ciudades_del_mundo[2:])

['Paris', 'San Fransisco', 'Londres', 'Nueva York']

6) Visualizar los primeros 4 elementos de la lista

In [31]:
print(ciudades_del_mundo[:4])

['Bogota', 'Madrid', 'Paris', 'San Fransisco']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [32]:
ciudades_del_mundo.append('Bogota')
ciudades_del_mundo.append('Medellin')
print(ciudades_del_mundo)

['Bogota', 'Madrid', 'Paris', 'San Fransisco', 'Londres', 'Nueva York', 'Bogota', 'Medellin']

8) Agregar otra ciudad, pero en la cuarta posición

In [33]:
ciudades_del_mundo.insert(5,'Roma')
print(ciudades_del_mundo)

['Bogota', 'Madrid', 'Paris', 'San Fransisco', 'Londres', 'Roma', 'Nueva York', 'Bogota', 'Medellin']

9) Concatenar otra lista a la ya creada

In [35]:
lista2=['Arabia','España','Inglaterra']
ciudades_del_mundo.extend(lista2)
print(ciudades_del_mundo)

['Bogota', 'Madrid', 'Paris', 'San Fransisco', 'Londres', 'Roma', 'Nueva York', 'Bogota', 'Medellin', 'Arabia', 'España', 'Inglaterra']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [36]:
ciudades_del_mundo.index('Bogota') #Trae el indice del primer valor encontrado

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [37]:
ciudades_del_mundo.index('Colombia') #Genera error, indicando que el valor buscado no existe en la lista

ValueError: 'Colombia' is not in list

12) Eliminar un elemento de la lista

In [38]:
ciudades_del_mundo.remove('Bogota')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [39]:
ciudades_del_mundo.remove('Colombia')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [40]:
ultimo_valor=ciudades_del_mundo.pop()
print(ultimo_valor)

Inglaterra

15) Mostrar la lista multiplicada por 4

In [41]:
ciudades_del_mundo*4

['Madrid',
 'Paris',
 'San Fransisco',
 'Londres',
 'Roma',
 'Nueva York',
 'Bogota',
 'Medellin',
 'Arabia',
 'España',
 'Madrid',
 'Paris',
 'San Fransisco',
 'Londres',
 'Roma',
 'Nueva York',
 'Bogota',
 'Medellin',
 'Arabia',
 'España',
 'Madrid',
 'Paris',
 'San Fransisco',
 'Londres',
 'Roma',
 'Nueva York',
 'Bogota',
 'Medellin',
 'Arabia',
 'España',
 'Madrid',
 'Paris',
 'San Fransisco',
 'Londres',
 'Roma',
 'Nueva York',
 'Bogota',
 'Medellin',
 'Arabia',
 'España']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [42]:
numeros_enteros=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
type(numeros_enteros)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [43]:
print(numeros_enteros[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [45]:
20 in numeros_enteros
30 in numeros_enteros

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [49]:
ciudades_del_mundo=['Bogota','Madrid','Paris','San Fransisco','Londres','Nueva York']
if 'Paris' in ciudades_del_mundo:
    print('La ciudad se encuentra en la lista')
else:
    nueva_ciudad='Paris'
    ciudades_del_mundo.append(nueva_ciudad)
    print('Se agrego la ciudad ',nueva_ciudad,' ya que no existia en la lista')
print(ciudades_del_mundo)

La ciudad se encuentra en la lista
['Bogota', 'Madrid', 'Paris', 'San Fransisco', 'Londres', 'Nueva York']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [52]:
numeros_enteros.count(2)
ciudades_del_mundo.count('Bogota')

1

21) Convertir la tupla en una lista

In [54]:
numeros_enteros=list
print(numeros_enteros)

<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [57]:
numeros=(1,2,3)
a,b,c=numeros
print(a,b,c)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [58]:
mi_diccionario=dict
ciudades_del_mundo=['Bogota','Madrid','Paris','San Fransisco','Londres','Nueva York']
mi_diccionario={'Clave1':ciudades_del_mundo,
                'Clave2':['Pais'],
                'Clave3':['Continenete']}

24) Imprimir las claves del diccionario

In [60]:
print(mi_diccionario.keys())

dict_keys(['Clave1', 'Clave2', 'Clave3'])

25) Imprimir las ciudades a través de su clave

In [61]:
print(mi_diccionario.values())

dict_values([['Bogota', 'Madrid', 'Paris', 'San Fransisco', 'Londres', 'Nueva York'], ['Pais'], ['Continenete']])